[Unit]
Description=Opinsys KTP-API Cmd handler timer trigger service
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/ktpapu/timertrigger.sh
