[Unit]
Description=Opinsys KTP-API Cmd handler watch timer
ConditionVirtualization=oracle

[Timer]
OnBootSec=1min
OnUnitActiveSec=5s

[Install]
WantedBy=multi-user.target
