[Unit]
Description=Opinsys KTP-API Cmd handler timer trigger service
After=network.target
ConditionVirtualization=oracle

[Service]
Type=oneshot
ExecStart=/opt/ktpapu/timertrigger
